<html>

<body>
  <h1>
    <%=title%>
  </h1>
</body>
<% messages.forEach((message)=>{ %>
  <ul>
    <%= message.user %>
      <%= message.added%>
        <li>
          <%= message.text%>
            <a href="<%=message.user%>">Details</a>
        </li>
  </ul>
  <% }) %>

</html>